/* Fonts */
:root{
    --font-primary: "Luminari", fantasy;
}

/*Colours*/
:root{
    --color-default: #c0c2c6;
    --color-primary: #2ad7eb;
    --color-secondary: #ffa12c;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*----------------
General
-----------------*/
body {
  font-family: var(--font-primary);
  color: var(--color-default);
}







